

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {

  width: 100%;
  padding: 5px;
    background-color:#ffd300;
    overflow-x: hidden  ;
 
 

  
}

@keyframes hue-rotate-animation {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}


@keyframes type {
  0% {
    width: 0;
  }
  1%, 99%{
    border-right: 1px solid orange;
  }
  100%{
    border-right: none;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes caret {
	50% { color: transparent }
}


.glass{

 /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);


}



.glass2{

 
background: rgba(255, 255, 255, 0.2);

box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);


}

@keyframes reaveal {
  0% { width: 0ch; }
  20% { width: 0ch; }
  40% { width: 0ch; }
  50% { width: 0ch; }
  60% { width: 9ch; }
  80% { width: 9ch; }
  100% { width: 0ch; }
}
/* HTML: <div class="loader"></div> */
.loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  white-space: pre;

  line-height: 1.2em;
  height: 1.2em;
  overflow: hidden;
}
.loader:before {
  content:"Loading.. \AgodnLai...\Aoiaglni.. \ALiongad... \Agindola.. \Analoidg...";
  white-space: pre;
  display:inline-block;
  animation: l38 2s infinite steps(6);
 
}

@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
    opacity: 0;
  }
  79%{
     color: #ffd300;
      opacity: 0.4,
  }
  80% {
    
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #ffd300;
    text-shadow: none;
     opacity: 0.4,
  }
  83% {
    color: inherit;
    text-shadow: inherit;
     opacity: 0.4,
  }
  92% {
    color: #ffd300;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
    93% {
        opacity: 0.4,
    }
    100% {
        opacity: 0.9;
    }
}
  


          @keyframes bounce {
            0%, 100% {
                transform: translateY(0);
            }
            50% {
                transform: translateY(-10px);
            }
        }
      