* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
 
  background-color: #242424;
  width: 100%;
  padding: 10px;
  
}

@keyframes hue-rotate-animation {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}


@keyframes type {
  0% {
    width: 0;
  }
  1%, 99%{
    border-right: 1px solid orange;
  }
  100%{
    border-right: none;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes caret {
	50% { color: transparent }
}